<h1>Lista de Carros</h1>
<ul>
    <% for(let i=0; i< listaCarrosHtml.length;i++){ %>
        <li><%=listaCarrosHtml[i] %></li>
        
        <% } %>
</ul>
<br>
<br>
<a href="/cadastro">Cadastrar Carro</a>